.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 220px;
    height: 160px;
    border: 1px solid #000;
    text-align: center;
    /* padding: 2px; */
}

.button {
    width: 100%;
    border: 1px solid #000;
    cursor: pointer;
}


.green{
    background-color: green;
    color: #fff;
}

.btn{
   display: flex;
}

.boxes .btn button:nth-child(2) {
   background-color: darkblue;
   color: #fff;
}

.two {
    padding: .7rem;
    margin-top: 2.30rem;
    border-right: none;
}

.white{
    padding: .7rem;
    margin-top: 1.7rem;
    border: none;
    border-right: 1px solid black;
    border-top: 1px solid #000;
}

.three{
    padding: .5rem;
}

.left-border{
   border-left: none
}

.right-border{
    border-right: none;
}

